.header__link {
    color: #2f80ed;
    text-decoration: none;
    position: relative;
  }

  .header__link:hover {
    opacity: 0.5;
    -webkit-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    transition: 0.5s linear;
  }