/* применяю свойство box-sizing*/
* {
  box-sizing: border-box;
}

/* Убираю внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}



.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}
/* Начало стилей для шапки */
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  align-items: center;
  background: #f2f2f2;
  /* выше установили ограничения для секции */
}

/* Убрал подчёркивание для всех ссылок на странице */
.link {
  text-decoration: none;
}

/* Задаю размеры для логотипа */
.logo {
  width: 228px;
  height: 32px;
}

/* стили для логотипа в шапке */
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

/* стили для заголовка в шапке */
.header__title {
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 2;
}

/* Стили для подзаголовка в шапке */
.header__subtitle {
  position: absolute;
  width: 388px;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}

/* цвет для ссылки в шапке */
.header__link{
  color: #2f80ed;
}

/* Стили для иллюстрации в шапке */
.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

/* Синий квадрат в шапке*/
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 0;
}
/* Конец стилей для шапки */

/* Начало стилей для секции discription */
.two-columns{
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 100px auto 0;
}
/* стили для левого блока в блоке two-columns */
.two-columns__brief{
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}
/* стили для текста внутри two-columns__brief */
.two-columns__link{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
/* Стиили для правого блока блока two-columns */
.two-columns__main-text{
  min-width: 784px;
  width: 80%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  
}
/* Стили для текс та внутри блока two-columns__main-text*/
.two-columns__paragraph{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

/* Уникальные стили для слова "Вывод" */
.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}
/* Конец стилей для секции discription */

/* Начало стилей для секции digits */
.digits{
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Стили заголовка сеции digits */
.section__title{
  width: 60%;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}
/* Стили подзаголовка сеции digits */
.section__subtitle{
  width: 60%;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  text-align: center;
}
/* Стили для таблицы секции digits */
.table{
width: 1100px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
/* Стили для создания карточек в table */
.table__cell{
width: 250px;
margin-top: 60px;
text-align: center;
}
/* заголовок карточки */
.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  text-align: left;
}
/* текст карточки */
.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  text-align: left;
}
/* конец блока digits */
/* Начало блока feynman */
.feynman {
  height: 890px;
  background-color: #f2f2f2;
  padding-top: 100px;
  position: relative;
  z-index: 0;
}

.feynman__title{
width: 648px;
line-height: 1.15;
font-size: 120px;
font-weight: 600;
margin: auto;
text-align: center;
z-index: 1;
}

.feynman__subtitle{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 70px auto 0px;
  text-align: center;
  z-index: 1;
}

.faynman__link{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  position: absolute;
  top: 50%;
  right: 48px;
}

.faynman__image{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

/* конец секции feynman */
/* Начало секции kaufman */
.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  z-index: -2;
}
/* Стили для заголовка секции kaufman*/
.section__title_theme_dark{
color: #fff;
  margin-top: 90px;
}
/* Стили для подзаголовка секции kaufman*/
.section__subtitle_theme_dark{
  color: white;
}

/* стили для таблици секции kaufman */
.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
  text-align: left;
}
/* делаю отступ от таблицы */
.table_theme_dark{
  margin-bottom: 90px;
}
/* меняю цвет в шапке карточки */
.table__heading_theme_dark{
  color: #fff;
}
/* Меняю цвет в тексте карточки */
.table__text_theme_dark{
  color: #fff;
}

/* Изображение синего треугольника в секции kaufman */
.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: -1;
}
/* Конец секции kaufman  */
/* Подвал сайта */
.footer{
  min-height: 350px;
  background-color: #1f1f1f;
  color: white;
  display: flex;
  justify-content: center;
}
/* Стили для блока */
.footer__columns{
  width: 90%;
  display: flex;
  position: relative;
justify-content: space-between;
margin-top: 60px;
margin-bottom: 40px;
  
}

/* отступ для блока */
.footer__author{
margin-bottom: 18px;
  
}
/* Стили для первого блока (считаем слева направо) */
.footer__column_content_copyright{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}
/* Задаю стили в подвале для ссылок в блоках footer__column_content_info/social  */
.column__link {
  line-height: 30px;
font-size: 18px;
font-weight: normal;
color: white;
}
/* Задаю отступы и позиционирование для ссылок внутри footer__column_content_info */
.column__links{
  margin-top: 20px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Задаю отступы и позиционирование для ссылок внутри footer__column_content_social */
.footer__social-icon {
  margin-right: 10px;
}
/* Задаю отступы и позиционирование для заголовков footer__column_content_info/social */
.footer__column-heading{
line-height: 30px;
font-size: 18px;
font-weight: 600;
}