.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}
/* Начало стилей для шапки */
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  align-items: center;
  background: #f2f2f2;
  box-sizing: border-box;
  overflow: hidden;
  /* выше установили ограничения для секции */
}

/* Задаю размеры для логотипа */
.logo {
  width: 228px;
  height: 32px;
}

/* стили для логотипа в шапке */
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

/* стили для заголовка в шапке */
.header__title {
  margin: 0;
  max-width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 2;
  position: relative;
}

/* Стили для подзаголовка в шапке */
.header__subtitle {
  margin: 0;
  position: absolute;
  max-width: 388px;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}

/* цвет для ссылки в шапке */
.header__link {
  color: #2f80ed;
  text-decoration: none;
  position: relative;
}
/* Улучшаю пользовательский опыт) */
.header__link:hover {
  color: #fff;
  background: #2f80ed;
  transition: 0.5s linear;
}

/* Стили для иллюстрации в шапке */
.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  object-fit: cover;
  z-index: 1;
}

/* Синий квадрат в шапке*/
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 0;
}
/* Конец стилей для шапки */

.rotation {
animation: myanim 20s linear infinite;
}
/* Анимация для квадрата и треугольника */
@keyframes myanim {
from {
  transform: rotate(0);
}
  to {
transform: rotate(360deg)
  }
}

/* Начало стилей для секции discription */
.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 100px auto 0;
}
/* стили для левого блока в блоке two-columns */
.two-columns__brief {
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}
/* стили для текста внутри two-columns__brief */
.two-columns__link {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
/* Стиили для правого блока блока two-columns */
.two-columns__main-text {
  min-width: 784px;
  width: 80%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
/* Стили для текс та внутри блока two-columns__main-text*/
.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

/* Уникальные стили для слова "Вывод" */
.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}
/* Конец стилей для секции discription */

/* Начало стилей для секции digits */
.digits {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
/* Стили заголовка сеции digits */
.section-title {
  margin: 0;
  width: 60%;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}
/* Стили подзаголовка сеции digits */
.section-subtitle {
  margin: 0;
  width: 60%;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  text-align: center;
}
/* Стили для таблицы секции digits */
.table {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* Стили для создания карточек в table */
.table__cell {
  width: 250px;
  margin-top: 60px;
  text-align: center;
}
/* заголовок карточки */
.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  text-align: left;
}
/* текст карточки */
.table__text {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  text-align: left;
}
/* конец блока digits */
/* Начало блока feynman */
.feynman {
  min-height: 890px;
  background-color: #f2f2f2;
  padding-top: 100px;
  position: relative;
  box-sizing: border-box;
}

.feynman__title {
  max-width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  margin: 0 auto 70px;
  text-align: center;
  position: relative;
  z-index: 2;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  z-index: 2;
}
/* Улучшаю пользовательский опыт) */
.feynman__link:hover {
  color: #fff;
  background: #2f80ed;
  transition: 0.5s linear;
}

.feynman__image {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

/* конец секции feynman */
/* Начало секции kaufman */
.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}
/* Стили для заголовка секции kaufman*/
.section-title_theme_dark {
  color: #fff;
  margin-top: 90px;
  z-index: 1;
}
/* Стили для подзаголовка секции kaufman*/
.section-subtitle_theme_dark {
  color: white;
  z-index: 1;
}

/* стили для таблици секции kaufman */
.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
  text-align: left;
  z-index: 1;
}
/* делаю отступ от таблицы */
.table_theme_dark {
  margin-bottom: 90px;
}
/* меняю цвет в шапке карточки */
.table__heading_theme_dark {
  color: #fff;
}
/* Меняю цвет в тексте карточки */
.table__text_theme_dark {
  color: #fff;
}

/* Изображение синего треугольника в секции kaufman */
.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0;
  width: 877px;
  height: 877px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/images/kaufman-triangle.svg");
  z-index: 0;
}
/* Конец секции kaufman  */
/* Подвал сайта */
.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  color: white;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
/* Стили для блока */
.footer__columns {
  width: 90%;
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 40px;
}

/* отступ для блока */
.footer__author {
  margin-bottom: 18px;
  margin-top: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
/* Стили для первого блока (считаем слева направо) */
.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}
/* Задаю стили в подвале для ссылок в блоках footer__column_content_info/social  */
.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
}
/* Улучшаю пользовательский опыт) */
.footer__column-link:hover {
  color: #fff;
  background: #2f80ed;
  transition: 0.5s linear;
}

/* Задаю отступы и позиционирование для ссылок внутри footer__column_content_info */
.footer__column-links {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
}

/* Задаю отступы и позиционирование для ссылок внутри footer__column_content_social */
.footer__social-icon {
  margin-right: 10px;
}
/* Задаю отступы и позиционирование для заголовков footer__column_content_info/social */
.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}